
<main style="background-color: black;">
    <header>
        <h3 class="text-center">Product: </h3>
    </header>
    <div class="text-center">
        {{#each filteredProduct}}
        <img src="{{this.thumbnail}}" alt="">
        <p style="color: white;"><strong>Title: </strong>{{this.title}}</p>
        <p style="color: white;"><strong>Description: </strong>{{this.description}}</p>
        <p style="color: white;"> <strong>Price: </strong>${{this.price}}</p>
        <p style="color: white;"><strong>Available: </strong>{{this.stock}}</p>
        {{/each}}
        <a id="addToCartBtn" class="btn btn-secondary"><i class="fa-solid fa-cart-shopping"> add</i></a>
       
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const btn = document.getElementById('addToCartBtn')

    if (btn) {
        btn.addEventListener('click', function() {
            const productId = '{{filteredProduct.[0]._id}}'
            addToCart(productId)
        });
    }

    function addToCart(productId) {
        fetch(`/api/carts/${productId}`, { method: 'POST', credentials: 'same-origin' })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Product added to cart successfully!',
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        footer: `<a href="/productsview">Continue buying</a>` 
                       
                    })
                } else if (data.message === 'Unauthorized') {
                    redirectToLogin()
                } else {
                    Swal.fire({
                     icon: 'error',
                        title: 'You are not login, log in or create an account to buy products',
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        footer: `<a href="/login">LOGIN HERE</a>` 
                    })
                }
            })
            .catch(error => {
                console.error('Error adding product to cart:', error)
            });
    }


    function redirectToLogin() {
        window.location.href = '/login'
    }
</script>
