<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{style}}>
    <title>Document</title>
</head>
<body>
    

<div>
    <h1>Hola, aqui estan los productos</h1>
<main>
  <div>
    <h2>PRODUCTOS</h2>
    <div class="sw">
      {{#each productos}}
        <div class="i">
          <img src={{this.thumbnail}}>
          <p class="sw-title">{{this.title}}, {{this.description}}</p>  
          <p>$ {{this.price}}</p>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="text-center" style="margin-top: 20px">
        {{#if hasPrevPage}}
            <a href="/?pageNumber={{prevPage}}" class="btn btn-dark" style="margin-right: 10px">Prev</a>
        {{/if}}
        <span class="page-number" style="margin-right: 10px">{{page}}</span>
        {{#if hasNextPage}}
            <a href="/?pageNumber={{nextPage}}" class="btn btn-dark">Next</a>
        {{/if}}
    </div>
    
    <div>
        <hr>
        <h1>AGREGAR PRODUCTOS</h1>
        <div class="inputdiv">
                 <div class="input">    
             <input type="text" id="Titleproduct"  placeholder="Titulo del Producto...">
          <input type="text" id="Priceproduct"  placeholder="Precio del Producto...">
            <input type="text" id="Descriptionproduct" placeholder="Description del Producto...">
              <input type="text" id="Stockproduct"  placeholder="Stock del Producto...">
                <input type="text" id="Categoryproduct"  placeholder="Categoria del Producto...">
                  <input type="text" id="Thumbnailproduct"  placeholder="Imagen del Producto..."></div> </div>
   
    
    </div>
    
    <button id="Enviar">ENVIAR DATOS</button>
    <div id="mensajes">

    </div>
    
</div>
</main>
<script src="/socket.io/socket.io.js" ></script>
<script src={{scriptView}}></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


</html>



